.navbar {
    background-color: #2E3034;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.navbar h1 {
    color: white;
    padding: 1rem 2.5rem;
    font-family: 'Open Sans', sans-serif;
    
}

.navbar span {
    color: #FFCE00;
}

.desktop-menu {
    padding: 1rem;
}


.desktop-menu,
a {
    color: white;
    padding: 1rem 1rem;
    font-family: 'Open Sans', sans-serif;

}

.desktop-menu a:hover {

    color: #FFCE00;
    cursor: pointer;
    border-bottom: 3px solid #FFCE00;
    padding-bottom: 0.5rem;
   
}

.menu-icon {
    display: none;

}


@media screen and (max-width: 720px) {

    .menu-icon {

        display: flex;
        width: 60px;
        height: 60px;
        padding: 1rem 1rem;
    }

    .navbar h1 {

        padding: 1rem 0.5rem;
        font-size: 25px;
    }

    .mob-menu {

        display: flex;
        flex-direction: column;

    }


    .desktop-menu {
        display: none;
    }

}