
.project-container {

    display: flex;
    position: relative;
    height: 100vh;
    background-color: #2E3034;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-container h3 {

    color: white;
    padding: 1px;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;

}

.project-container h5 {
    color: #FFCE00;
    letter-spacing: 4px;
    font-size: 15px;
    padding: 1px;
    font-family: 'Open Sans', sans-serif;
}

.project-container p {

    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    line-height: 1.5rem;
    padding-top: 10px;
   


}


.project-section1 {

    display: flex;
    gap: 40px;
    padding: 10px;
}

.project-intro {

    padding: 40px;
    width: 400px;

}

@media screen and (max-width:720px) {

  .project-container {

    display: flex;
    height: auto;


   
  }

  .project-section1 {

    display: flex;
    gap: 40px;
    padding: 10px;
    flex-direction: column;
   
}

  
    
}
